[submodule "warnings"]
	path = warnings
	url = https://github.com/eidottermihi/warnings-plugin.git
[submodule "analysis-core"]
	path = analysis-core
	url = https://github.com/eidottermihi/analysis-core-plugin.git
[submodule "analysis-pom"]
	path = analysis-pom
	url = https://github.com/eidottermihi/analysis-pom-plugin.git
[submodule "analysis-test"]
	path = analysis-test
	url = https://github.com/eidottermihi/analysis-test-plugin.git
[submodule "analysis-config"]
	path = analysis-config
	url = https://github.com/eidottermihi/analysis-config-plugin.git
[submodule "analysis-collector"]
	path = analysis-collector
	url = https://github.com/eidottermihi/analysis-collector-plugin.git
[submodule "checkstyle"]
	path = checkstyle
	url = https://github.com/eidottermihi/checkstyle-plugin.git
[submodule "dry"]
	path = dry
	url = https://github.com/eidottermihi/dry-plugin.git
[submodule "findbugs"]
	path = findbugs
	url = https://github.com/eidottermihi/findbugs-plugin.git
[submodule "pmd"]
	path = pmd
	url = https://github.com/eidottermihi/pmd-plugin.git
[submodule "tasks"]
	path = tasks
	url = https://github.com/eidottermihi/tasks-plugin.git
